{% extends "TestsPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block testsplatform_body %}

  <h3>Ajouter une annonce</h3>
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
  {{ include("TestsPlatformBundle:Advert:form.html.twig") }}

  <p>
    <a href="{{ path('tests_platform') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour
    </a>
  </p>

{% endblock %}