{% extends "TestsPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block testsplatform_body %}

  <h3>Supprimer une annonce</h3>

  {{ include("TestsPlatformBundle:Advert:form.html.twig") }}
  {# Ici il faut créer un autre formulaire avec un bouton supprimer #}
  <p>Vous êtes sur le point de supprimer l'annonce : {{ advert.title }} </p>
  <p>
    <a href="{{ path('tests_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}