<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block mon_bloc_titre %}Tests Plateforme{% endblock %}</title>
  </head>
  <body>

    {% block body %}
    {% endblock %}

  </body>
</html>