{# src/CoreBundle/Resources/views/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block body %}
    {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    
    <h4>Les 3 dernières annonces :</h4>
    {{ render(controller("LibraryPlatformBundle:Advert:menu", {'limit': 3})) }}
{% endblock %}

